certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
python-multipart==0.0.20
requests==2.32.3
urllib3==2.3.0
firebase-admin
inference-sdk
certifi==2024.12.14
fastapi==0.100.0
uvicorn==0.22.0 
urllib3==2.3.0
idna==3.10
charset-normalizer==3.4.1
